div {
  padding: 10rem;
  color: white;
  background-image: url("ill.jpg");
  text-align: center;
  background-position: center;
  background-size: 100px 50px;
}

#repeat {
  background-repeat: repeat;
}

#repeat-x {
  background-repeat: repeat-x;
}

#repeat-y {
  background-repeat: repeat-y;
}

#no-repeat {
  background-repeat: no-repeat;
}
